body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #063f8f);
}

input{

  margin-bottom: 20px; 


}

