body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000, #063f8f);
}
.menu-sibu{
  width:  300px;
  height: 600px;

}

.menu-sibu .configuracion{
  width: auto;

}





