body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000, #063f8f);
}
<<<<<<< HEAD
.menu-sibu{
  width:  300px;
  height: 600px;

}

.menu-sibu .configuracion{
  width: auto;

}





=======
.p-menuitem-content{
  width: 200px; 
  padding: 10;
}
>>>>>>> 4065d2579f5466656231c901b3e3bb3a199e8373
