body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #063f8f);
    height: 100vh;
    margin: 0;
}

input{

  margin-bottom: 20px; 


}
.h1 {
  color: white;
}
.but{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  padding: 3px;
}


